html{font-size: 16px;}
body{font-family: 'Titillium Web', sans-serif;font-size: 16px;}
header{width: 100%;height: 594px;background: #87509c;}
header img, header nav{margin-top: 55px;}
header .nav-link{color: #fff;border-radius: 5px;}
header .nav-link:hover, header .active{background: #643a79;}
header h1{color: #fff;font-size: 2.6rem; font-weight: bold;}
.bottom_header{height: 445px; display:flex; align-items: center;flex-direction: column; justify-content: center;}